/build/
/bin/
.idea/checkstyle-idea.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/findbugs-idea.xml
.idea/inspectionProfiles/
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/reactTemplatesPlugin.xml
.idea/vcs.xml
.idea/workspace.xml
AdobeAPI.iml
.idea
*.iml
*.iws
*.ipr
.gradle
/gradle-temp/
out
classes
**/target
**/*.log
build


